.sidebar{
    width:26%;
    height:99vh;
    position:sticky;
    left:0;
    top:0;
    z-index:10;
    float:left; 
    padding-top:6rem;
    overflow-y: scroll;
}

.sidebar__list{
    padding:2rem;
}

.sidebar__list-item{
    padding:1.4rem 2rem;
    list-style-type: none;
    margin:0rem 0;
    font-size: 1.8rem;
    color:var(--grey-light-3);
    border-left:4px solid var(--grey-light-3);
    transition:all 0.2s ease;
}


.sidebar__list-item--active{
    color:var(--color-primary);
    border-left:4px solid var(--color-primary);
    font-size: 2rem;
}

.sidebar__list-item--inactive:hover{
    color:var(--grey-dark-1);
    border-color: var(--grey-dark-1);
}

.item__link{
    text-decoration: none;
    color:inherit;
    display:block;
}

@media screen and (min-width:768px) and (max-width:1024px){
    .sidebar{
        width:32%;
    }
}

@media screen and (max-width:768px){
    .sidebar{
        display:none;
    }
}