.container{
    position:relative;
    z-index:10;
    top:70vh;
    left:0;
}

.container__content{
    width:100%;
    display:flex;
    position:relative;
    padding-bottom:20rem;
    background:#fff;
}

.main-container::after{
    display:table;
    content:"";
    clear:both;
}

@media screen and (max-width:768px){
    .container{
        position:relative;
        left:0;
        top:60vh;
    }
}

@media screen and (max-width:480px){
    .container{
        top:50vh;
    }
}