@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: 'Aleo', serif;
}

:root{
  --color-primary:#7209b7;
  --color-secondary:#ffa62b;
  --color-tertiary:#101d2c;
  
  --grey-light-1:#ddd;
  --grey-light-2:#ccc;
  --grey-light-3:#bbb;

  --grey-medium-1:#a1a1a1;
  --grey-medium-2:#909090;
  --grey-medium-3:#7f7f7f;

  --grey-dark-1:#4c4c4c;
  --grey-dark-2:#3b3b3b;
  --grey-dark-3:#2b2b2b;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-weight: 400;
}